.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.gradle/
android/.gradle
android/local.properties
ios/Pods/
ios/Podfile.lock
macos/Pods/
macos/Podfile.lock
windows/flutter/ephemeral/
linux/flutter/ephemeral/
